*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.points{
    display: flex;
    justify-content: center;
    gap:3rem;
    padding: 3rem;
}
.player-wrapper,.bot-wrapper{
    display: flex;
}
.player-wrapper img,.bot-wrapper img{
    display: none; 
    align-self: center;
}
.points img.active1,.points img.active2 {
    display: block;
}
.player-point,.bot-point{ 
    background-color: rgb(248, 248, 248,0.9);
    border-radius: 180px;
    padding: 0.4rem;
}
.bot-point,.player-point,.round{
    display: flex;
    gap:2rem;
    padding-right: 1rem;
}
.gameboard{
    width: 18rem;
    height: 18rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.round{
    margin: 1rem auto;
    box-shadow: 0.2px 0.2px 0.2px black;
    padding: 0.4rem;
    padding-right: 1rem; 
    border-radius: 180px;
    border: none;   
}
.playAgain{
    margin: 1rem auto;
    box-shadow: 0.2px 0.2px 0.2px black;
    padding: 0.4rem;
    padding-right: 1rem; 
    border-radius: 180px;
    display:none;   
} 
.playAgain.active{
    display:block;   
}

.rows{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex:1;
}

.cell{
    background-color: rgb(241, 240, 240);
    margin: 0 auto;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    cursor: pointer;
    
}
.cell.no-click{
    pointer-events: none;
}
.cell-styling{
    font-size: 40px;
    color:red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 0.5rem;
}
